.App {
  text-align: center;
}

.App-header {
  display: flex;
  background-color: #ffffff;
  min-height: 10vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.menu {
  display: flex;
  width: 6%;
  background-color: white;
  justify-content: flex-start;
  margin-left: 5%;

}

.mainLogo {
  justify-content: center;
  align-items: center;
  margin-right: 35%;
  width: 20%;
}


.App-logo {
  width: 100%;
}

.community {

  width: 100%;
}

.construction {
  width: 100%;
}

.mission {
  width: 100%;
}



.about {

  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
