.App {
  text-align: center;
}

.App-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* aligns burger right */
  background-color: #ffffff;
  min-height: 10vh;
}





.menu {
  display: flex;
  width: 6%;
  background-color: white;
  justify-content: flex-start;
  margin-left: 5%;

}

.mainLogo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 95px; /* adjust as needed */
}

 /* Adding button */

.image-section {
  position: relative;
  margin-bottom: 2rem;
}

.content-image {
  display: block;
  width: 100vw;
  max-width: none;
  margin: 0;
  height: auto;
}

.learn-more-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000cc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #000;
}
 /* Adding button */



.community {

  width: 100%;
}

.construction {
  width: 100%;
}

.mission {
  width: 100%;
}

.content-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}


.about {
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Burger Menu styles */

/* Position the custom burger icon */
.custom-burger-button {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1200;
  margin-left: 1rem;
}

/* Fullscreen menu override */
.bm-menu-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Menu content */
.bm-menu {
  background: #373a47;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bm-item {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.bm-cross {
  background-color: white;  /* The lines of the X */
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  top: 27px !important;
}


/* Footer sizing */

.App-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff44;
  min-height: 15vh;
  font-size: 0.75rem;
  width: 100%;
}



